@media screen and (min-width: 320px) and (max-width: 425px) {
	.container{
		width: 100%;
	}
	.NavBar{
		display: none;
	}
	.HomeBannerContent{
		display: block;
	}
	.BannerContent{
		text-align: left;
		padding: 20px;
	}
	.BannerContent h1{
		font-size: 36px;
	}
	.BannerContent p{
		width: 100%
		font-size:16px;
	}
	.ProgramCards{
		display: block;
	}
	.BannerBtn button{
		width: 100%;
	}
	.HomeHeroMedia{
		padding: 15px;
	}
	.BannerTextUpper h2{
		font-size: 10px;
	}
	.BannerText{
		bottom: 41%;
    	left: 4%;
	}
	.BannerTextUpper{
		padding: 8px;
	}
	.BannerTextDowe{
		left: auto;
	}
	.BannerTextDowe h2{
		font-size: 14px;
	}
	.BannerTextDowe p{
		font-size: 10px;
	}
	.BannerTextDowe{
		bottom: 20%;
		padding: 15px;
	}
	.CardTop h2{
		font-size: 24px;
		padding: 15px;
	}
	.program-card{
		margin-bottom: 20px;
	}
	.FaqBox {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
    }
    .FaqImage{
    	margin-bottom: 20px;
    	width: 100%;
    }
    .FaqText{
    	width: 100%;
    }
    .FaqBtn button{
    	width: 100%;
    }
    .StatsBox{
    	display: block;
    	padding: 20px;
    }
    .HelpBox{
    	width: 100%;
    }
    .StatsBtn button{
    	width: 100%;
    }
    .HelpSlider{
    	width: 100%;
    }
    .BlogsCards{
    	display: block;
    	padding:20px;
    }
    .BlogBoxs{
    	margin-bottom: 20px;
    }
    .BlogBtn button{
    	width: 100%;
    }
    .BlogBtn{
    	padding:20px;
    }
    .Talk{
    	margin-top: 0;
    }
    .Talkbox{
    	display: block;
    	padding: 20px;
    	background-size:100%;
    	border-radius: 20px;
    }
        .Talkbox img {
        position: initial;
        width: 100%;
        margin-bottom: -24px;

    }
    .TalkInfo h2{
    	width: 100%;
    	font-size: 36px;
    }
    .NewsletterConatiner{
    	display: block;
    	padding: 20px;
    	border-radius: 20px;
    }
    .NewsletterConatiner h3{
    	width: 100%;
    }
    .LetterForm{
    	display: block;
    	margin: 20px 0;
    	width: 100%;
    }
    .From_Section{
    	display: block;
    }
    input[type="email"]{
    	width: 90%;
    	margin-bottom: 20px;
    	border-radius: 10px;
    }
    .FormBTn button{
    	width: 100%;
    }
    .FooterCTA{
    	display: block;
    }
    .CtaInfo i{
    	display: none;
    }
    .Footerbtn button{
    	width: 100%;
    }
    .footerMenu{
    	display: block;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	body{
		width: fit-content;
	}
}	